li a {
  list-style: none;
  text-decoration: none;
}

.footer {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 60px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  background-color: black;
  place-items: center;
}
.footer .media-icon {
  /*align in column*/

  display: grid;
  list-style: none;
  grid-auto-flow: column;
  grid-auto-columns: 100px;
  text-align: center;
  padding: 0px;
}

.footer .media-icon li a {
  color: cyan;
  font-size: 1em;
  font-weight: bold;
  padding: 0px;
}
.footer .media-icon .label {
  color: cyan;
}
