/*header part*/

/*Helper*/
.hide-desktop {
  display: none;
}

.sidebar-main {
  position: fixed;
  width: 100vw;
  background-color: black;

  /*Layout*/
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px 1fr 1fr 50px;
}

.sidebar-main .title-container {
  padding-left: 20px;
  text-align: left;
  align-items: center;
  color: orangered;
  grid-column: 2;
  font-size: 1.5em;
  font-weight: bold;
}

.sidebar-main .menu-container {
  text-align: center;
  align-items: center;

  /*layout*/
  display: grid;
  grid-column: 3;
  list-style: none;
  grid-auto-flow: column;
}

.sidebar-main .menu-container a {
  color: orangered;
  font-weight: bold;
  font-size: 1.2em;
  font-style: arial;
}

.sidebar-main .icon-container {
  font-size: 1.5em;
  margin: 5px 5px 5px 5px;
  place-self: center;
  text-align: left;
  color: orangered;
  grid-column: 4;
}
