@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
p {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Hero Section*/
#hero {
  background-image: url(./images/build.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
  animation: text_reveal 1s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: cyan;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}
#hero .cta {
  display: inline-block;
  padding: 10px 10px;
  color: crimson;
  background-color: transparent;
  border: 2px solid cyan;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  border-radius: 10px;
}
#hero .cta:hover {
  color: black;
  background-color: cyan;
  cursor: pointer;
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: cyan;
    font-weight: 500;
  }
}
/*End Hero Section*/

/*about Section*/

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-left img {
  height: 300px;
  width: 200px;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
  z-index: 1;
}
#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid cyan;
  z-index: -1;
}

#about .col-right {
  width: 100%;
}
#about .col-right {
  font-size: 3rem;
  font-weight: 500;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right span {
  color: crimson;
}

#about .col-right p {
  color: black;
  margin-bottom: 20px;
}

#about .col-right .cta {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: transparent;
  border: 2px solid cyan;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  margin-bottom: 50px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  border-radius: 10px;
}

#about .cta:hover {
  color: black;
  background-color: cyan;
  cursor: pointer;
}
/*End about Section*/

/*Service Section*/

#service .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#service .section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
#service .section-title span {
  color: crimson;
}
#service .service-top p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
}

#service .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#service .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(163, 7, 39);
  background-size: cover;
  margin: 10px 5%;
  overflow: hidden;
}

#service .service-item i {
  font-size: 3rem;
  color: white;
}

#service .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#service .service-item p {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

/*End Service Section*/

/*media Query for tablet*/
@media only screen and (min-width: 768px) {
  #hero .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
    color: crimson;
  }

  h1.section-title {
    font-size: 6rem;
  }

  #hero h1 {
    font-size: 7rem;
  }
  #service .service-bottom .service-item {
    flex-basis: 30%;
    margin: 2.5%;
  }

  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 400px;
    height: 350px;
    padding-left: 60px;
  }
  #about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid cyan;
  }

  #about .col-right {
    text-align: left;
    padding: 30px;
  }

  #about .col-right h1 {
    text-align: left;
  }
  #about .col-right p {
    text-align: left;
  }
} /*End media Query for tablet*/
