/*laptop-size*/
@media (max-width: 992px) and (min-width: 767px) {
}

/*tablet-size*/
@media (max-width: 766px) and (min-width: 576px) {
  /*header-part*/
  .hide-desktop {
    display: block;
  }
  .sidebar-main .menu-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 75px;
    background-color: gray;
    transition: 2s;

    /*layout*/
    grid-auto-flow: row;
    grid-auto-rows: 60px;
    grid-auto-columns: 1fr;
    align-items: unset;

    margin: 0px;
    padding: 0px;
  }

  .sidebar-main .menu-container.hide {
    height: 0px;
  }

  .sidebar-main .menu-container.hide li {
    display: none;
  }

  .sidebar-main .menu-container.show {
    height: 240px;
  }
}

/*mobile-size*/
@media (max-width: 575px) {
  /*header-part*/
  .hide-desktop {
    display: block;
  }
  .sidebar-main .menu-container {
    position: fixed;
    height: 240px;
    width: 100vw;
    top: 75px;
    background-color: gray;
    transition: 2ms;
    text-shadow: black;

    /*layout*/
    grid-auto-flow: row;
    grid-auto-rows: 60px;
    grid-auto-columns: 1fr;
    align-items: unset;

    margin: 0px;
    padding: 0px;
  }

  .sidebar-main .menu-container li {
    place-items: center;
    display: grid;
  }

  .sidebar-main .menu-container.hide {
    height: 0px;
  }

  .sidebar-main .menu-container.hide li {
    display: none;
  }

  .sidebar-main .menu-container.show {
    height: 240px;
  }

  .footer {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    background-color: black;
    place-items: center;
  }
  .footer .media-icon {
    /*align in column*/

    display: grid;
    list-style: none;
    grid-auto-flow: column;
    grid-auto-columns: 50px;
    text-align: center;
    padding: 0px;
  }

  .footer .media-icon li a {
    color: cyan;
    font-size: 1em;
    font-weight: bold;
    padding: 0px;
  }
  .footer .media-icon .label {
    color: cyan;

    display: none;
  }
}
